body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", Monaco, monospace;
}

.w3-2021-marigold
{color:#fff;background-color:#FDAC53}
.w3-2021-cerulean
{color:#000;background-color:#9BB7D4}
.w3-2021-rust
{color:#fff;background-color:#B55A30}
.w3-2021-illuminating
{color:#000;background-color:#F5DF4D}
.w3-2021-french-blue
{color:#fff;background-color:#0072B5}
.w3-2021-green-ash
{color:#000;background-color:#A0DAA9}
.w3-2021-burnt-coral
{color:#fff;background-color:#E9897E}
.w3-2021-mint
{color:#fff;background-color:#00A170}
.w3-2021-amethyst-orchid
{color:#fff;background-color:#926AA6}
.w3-2021-raspberry-sorbet
{color:#fff;background-color:#D2386C}
.w3-2021-inkwell
{color:#fff;background-color:#363945}
.w3-2021-ultimate-gray
{color:#fff;background-color:#939597}
.w3-2021-buttercream
{color:#000;background-color:#EFE1CE}
.w3-2021-desert-mist
{color:#000;background-color:#E0B589}
.w3-2021-willow
{color:#fff;background-color:#9A8B4F}

.arrow {
  border: solid #00A170;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*--------------------------------------------------------------
# cookie banner
--------------------------------------------------------------*/

.cookie-banner{
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #111;
  color: #fff;
  transition: 400ms;
  padding: 0 32px;
  z-index: 1000;
}

.cookie-banner.active{
  bottom: 0%;
}

.cookie-btn{
  background: #1e4356;
  color: #fff;
  border: 0;
  margin-bottom: 16px;
  padding: 10px 40px;
  font-size: 18px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.151);
}
