{% load static %}

<!DOCTYPE html>
<html>
<title>EEDATEN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Highcharts in Head section -->
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="../" class="w3-bar-item w3-button">Startseite</a>
  <a href="solar_height" class="w3-bar-item w3-button">Solare Strahlungsenergie</a>
  <a href="wind_height" class="w3-bar-item w3-button">Windenergie</a>
  <a href="biomasse_height" class="w3-bar-item w3-button">Biomasse</a>
  <a href="landkreis_height" class="w3-bar-item w3-button">Landkreis</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>INFORMATIONSPLATTFORM FUER ERNEUERBARE ENERGIEN</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom"><span style="background-color: white; color: black">EEDATEN</span></h1>
  </div>
</header>

<!-- 1 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom">
<div class="w3-center w3-leftbar w3-rightbar w3-border-black">
  <h3>EE je Landkreis - Solare Strahlungsenergie</h3>
</div>
<div class="w3-padding-16">
<div class="w3-left-align">
<p>
  In der nachfolgenden Karte sind Betriebsmitteldaten von EE den einzelnen Bundesländern der Bundesrepublik Deutschland zugeordnet (Stand Dezember 2021 siehe <a href="../">Startseite</a>).
  Bei Betriebsmitteldaten handelt es sich um die installierte Leistung (Bruttoleistung, \(P_b\)) von Anlagen EE (Betriebsstatus In Betrieb).
  Die installierte Leistung von EE ist auf Landkreisebene aggregiert.
</p>
<p>
  Die Gesamtleistung an EE setzt sich in dieser Darstellung aus folgenden Energieträgern zusammen: Solare Strahlungsenergie (Bauliche Anlagen, Freiflächen), Windenergie (Onshore, Offshore, Ausschließliche Wirtschaftszone AWZ), Biomasse und Wasser.
  Anzumerken ist, dass Offshore Windkraftanlagen lediglich Bundesländern zugeordnet werden können. 
  Daher sind AWZ und Offshore auf Landkreis- und Gemeindeebene nicht angegeben.
  Energiespeicher (inkl. Pumpspeicher) sind nicht in der Gesamtleistung  enthalten.
</p>
</div>
</div>
</div>

<!-- 2 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom" style="width:80vw; height:100vh; margin: auto">
<iframe src="{% url 'solar_full_view' %}" style="width:100%; height:100%"></iframe>
</div>

<!-- 3 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom">
<div class="w3-center w3-leftbar w3-rightbar w3-border-black">
  <h3>Verifizierung</h3>
</div>
<div class="w3-padding-16">
<div class="w3-left-align">
<p>
    Die Betriebsmitteldaten sind in Abhängigkeit von der zu untersuchenden Eigenschaft mittels unterschiedlicher Testfunktionen validiert.
    Für die installierte Leistung je Bundesland ist als Testfunktion folgende Bedingung aufgestellt: <br>
    <p class="w3-center">\(\ P_{i,e} = \displaystyle\sum_{j=1}^J P_j\) mit \(\ P_j = \displaystyle\sum_{n=1}^N P_n\) mit \(N\) Anlagen EE in Landkreis \(j\) in  Bundesland  \(i\), Energieträger  \(e\)</p>
    Die Summe der installierten Leistung je Energieträger je Bundesland muss der installierten Leistung aller Anlagen je Energieträger je Bundesland entsprechen.
    Dadurch kann der Einfluss von Gebietsreformen, welcher in den unterschiedlichen Datenquellen nicht einheitlich abgebildet ist, bestimmt und korrigiert werden.
    Aufgrund von Gebietsreformen (Landkreiswechsel, Eingenmeidung, etc.) können Anlagen EE der falschen Verwaltungsebene zugeordnet werden, wodurch die aufgestellte Leistungsbilanz nicht übereinstimmt.
    Die aufgestellte Testfunktion deckt diesen Umstand auf, wodurch eine Korrektur erfolgen kann.
</p>
</div>
</div>
</div>

<!-- 4 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom">
  <div class="w3-center w3-leftbar w3-rightbar w3-border-black">
    <h3>Solare Strahlungsenergie je Landkreis - historisch</h3>
  </div>
  <div class="w3-center">
  <img src="{% static "img/solar_historisch.jpg" %}" style="width:60%"/>
</div>
</div>


<!-- Footer -->
<footer class="w3-container w3-black">
  <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
          <h4>Rechtliche Hinweise</h4><br>
          <p><i class="arrow right"></i> <a href="../impressum">Impressum</a></p>
          <p><i class="arrow right"></i> <a href="../datenschutzerklaerung">Datenschutzerklärung</a></p>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
        <h4>Kontakt</h4><br>
        <p>
        Max Fechner <br>
        04315 Leipzig<br>
        Sachsen/ Deutschland <br><br>
        <strong>Email:</strong> kontakt@eedaten.de<br>
        <p>Auf <strong>Linkedin</strong> zu finden unter: <strong>Max Fechner</strong></p>
        </p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
        <h4>Über EEDATEN</h4><br>
        <p>EEDATEN ist als eine Informationsplattform mit dem Ziel entstanden, 
          einen Beitrag zur Verbesserung der Datengrundlage des elektrischen Energiesystems 
          in Deutschland zu leisten, insbesondere für Erneuerbare Energien (EE). </br>
          Der Begriff EEDATEN ist daraus abgeleitet.</p>
        </div>
      </div>
    </div>
  </div>

  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>
