{% load static %}

<!DOCTYPE html>
<html>
<title>EEDATEN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="../" class="w3-bar-item w3-button">Startseite</a>
  <a href="solar_height" class="w3-bar-item w3-button">Solare Strahlungsenergie</a>
  <a href="wind_height" class="w3-bar-item w3-button">Windenergie</a>
  <a href="biomasse_height" class="w3-bar-item w3-button">Biomasse</a>
  <a href="landkreis_height" class="w3-bar-item w3-button">Landkreis</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>INFORMATIONSPLATTFORM FUER ERNEUERBARE ENERGIEN</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom"><span style="background-color: white; color: black">EEDATEN</span></h1>
  </div>
</header>

<!-- 1 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom">
<div class="w3-center w3-leftbar w3-rightbar w3-border-black">
  <h3>Datenschutzerklärung</h3>
</div>
<div class="w3-padding-16">
<div class="w3-left-align">
  <h3>Datenschutzerklärung:</h3>
  <p>
  Der nachfolgende Abschnitt klärt den Webseitenbesucher von EEDATEN auf, wie und zu welchem Zweck Daten (personenbezogene Daten) auf dieser Webseite verarbeitet werden (Datenschutzerklärung).
  Die rechtliche Grundlage für die Datenschutzerklärung stellen insbesondere das Telemediengesetz (TMG)<a href="https://www.gesetze-im-internet.de/tmg/"><sup>13</sup></a> und die Datenschutzgrundverordnung (DSVGO)<a href="https://dsgvo-gesetz.de/"><sup>14</sup></a> dar.
  Grundsätzlich lässt sich zu Beginn festhalten, dass bei dem Besuch auf <a href="https://www.eedaten.de">www.eedaten.de</a> personenbezogene Daten erhoben werden, um den Besuchern von EEDATEN einen besseren Dienst zur Verfügung zu stellen, Auswertungen zur Systemsicherheit durchzuführen sowie aus administrativen Zwecken.
</p>
<h3>Begriffsdefinitionen</h3>
<p>
  <a href="https://dejure.org/gesetze/DSGVO/4.html">Art. 4</a> DSVGO definiert wichtige Begriffe, die im Zusammenhang mit dem Datenschutz häufig verwendet werden, darunter u.a.:
<ul>
  <i class="arrow right"></i> "Personenbezogene Daten alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person") beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann"<br>
  <i class="arrow right"></i> "Verarbeitung: jeden mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung"<br>
  <i class="arrow right"></i> "Verantwortlicher die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet; sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien seiner Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden"<br>
</ul>
</p>
<h3>Verantwortlicher</h3>
  <p>
    Max Fechner <br>
    Einertstraße 5<br>
    04315 Leipzig<br>
    Sachsen/ Deutschland <br>
    Email: kontakt@eedaten.de <br>
    Tel.: +49 (0) 176 31100755<br>
  </p>
  <h3>Gründe Datenverarbeitung</h3>
  <p>
    Folgende Gründe lassen sich zur Datenverbeitung auf dieser Webseite grundsätzlich aufführen:
      <ul>
         <i class="arrow right"></i> Einwilligung <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 a</a> DSVGO<br>
         <i class="arrow right"></i> Vertragserfüllung/ vorvertragliche Maßnahmen <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 b</a> DSVGO<br>
         <i class="arrow right"></i> Rechtliche Verpflichtung <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 c</a> DSVGO<br>
         <i class="arrow right"></i> Schutz lebenswichtiger Interessen <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 d</a> DSVGO<br>
         <i class="arrow right"></i></i> Öffentliches Interesse <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 e</a> DSVGO<br>
         <i class="arrow right"></i> Berechtigte Interessen <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO<br>
      </ul>
  </p>
  <h3>Webhosting - Server Log Files</h3>
  <p>
    Die von EEDATEN bereitgestellte Webanwednung ist auf einem Server des Webhosting-Anbieters DigitalOcean installiert (USA), von wo aus die Webseite abgerufen werden kann.
    Durch den Aufruf von <a href="https://www.eedaten.de">www.eedaten.de</a> werden Daten verarbeitet, die in Log Files auf dem Server gespeichert werden.
    Folgende Daten werden in Log Files gespeichert:
    <p>
      <ul>
        <i class="arrow right"></i> Domainnamen<br>
        <i class="arrow right"></i> IP-Adresse<br>
        <i class="arrow right"></i> Zeitstempel: Tag/ Uhrzeit<br>
        <i class="arrow right"></i> Request Zeile: Pfad der Zieladresse ohne Domain<br>
        <i class="arrow right"></i> Status Code<br>
        <i class="arrow right"></i> Größe Response Body: temporär heruntergeladene Daten<br>
        <i class="arrow right"></i> Referer: von welcher Seite der Besucher gekommen ist<br>
        <i class="arrow right"></i> User Agent (vom Client gesendet): Art/ Version Browser, Betriebssystem<br>  
      </ul>
    </p>
    Einerseits sind die aufgezeichneten Daten für die Kommunikation notwendig, andererseits lassen sich mit den gespeicherten Daten Statistikauswertungen machen sowie Angriffe erkennen.
    Die entsprechende Rechtsgrundlage bildet das berechtigte Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO.
    Die Log Files werden in Abhängigkeit von der Dateigröße gelöscht, aber mindestens einmal im Jahr.
    <p>DigitalOcean, New York, 101 Avenue of the Americas, New York, NY 10013, United States of America</p>
  </p>
  <h3>Weitergabe von Daten an Dritte</h3>
  <p>
      Die auf dem Server gespeicherten Daten werden nicht an Dritte weitergegeben, außer:
      <ul>
        <i class="arrow right"></i> der Nutzer hat seine ausdrückliche Einwilligung erteilt Einwilligung nach <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 a</a> DSVGO<br>
        <i class="arrow right"></i> die Weitergabe gesetzlich verpflichtend ist nach <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 c</a> DSVGO<br>
        <i class="arrow right"></i> die Weitergabe zur Geltendmachung von Rechtsansprüchen erforderlich ist nach <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO<br>
      </ul>
  </p>
  <h3>Cookies</h3>
    <p>
      Bei dem Besuch von EEDATEN werden Cookies gesetzt.
      Cookies sind kleine Textdateien, die von einem Browser auf dem Computer des Benutzers gesetzt (gespeichert) werden.
      Ein Cookie dient dazu den Besuch auf der Webseite sicherer und angenehmer zu gestalten, indem beispielsweise Spracheinstellungen gespeichert werden.
      Es gibt auch Cookies, die das Nutzerverhalten von Besuchern auf Webseiten nachverfolgen und ein Nutzerprofil speichern.
      Solche "Tracking"-Cookies werden auf EEDATEN nicht verwendet. <br>
      Zum besseren Verständnis sind folgende Cookie-Typen aufgelistet:
      <ul>
        <i class="arrow right"></i> Temporäre Cookies: Solche Sitzungs Cookies werden gelöscht, sobald die Webseite vom Nutzer verlassen wird<br>
        <i class="arrow right"></i> Permanente Cookies: Solche Cokkies bleiben nach dem Verlassen der Webseite/ Schließen des Browsers gespeichert<br>
        <i class="arrow right"></i> First-Party Cookies: Solche Cookies werden vom Seitenbetreiber selbst gesetzt<br>
        <i class="arrow right"></i> Thrid-Party Cookies: Solche Cookies werden von Dritten gesetzt<br>
        <i class="arrow right"></i> Essentielle Cookies: Solche Cookies sind für den Besuch der Webseite notwendig<br>
        <i class="arrow right"></i> Statistik/ Marketing Cookies: Solche Cookies sammeln Informationen über das Nutzerverhalten beim Webseitenbesuch oder dienen bestimmten Marketingzwecken<br>
      </ul>
      Wie bereits erwähnt werden solche Statistik/ Marketing Cookies zum "Tracking" des Nutzerverhaltens nicht verwendet.
      Am Anfang des Webseitenbesuchs wird der Besucher mittels eines Cookie-Banners über den Einsatz von Cookies informiert.
      Das Setzen von notwendigen Cookis basiert auf dem berechtigten Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO.
      Die Einwilligung wird im Session Storage gepsiechert.
      Cookies unterliegen einer gewissen Speicherdauer (siehe temporäre und permanente Cookies).
      Falls Cookies nicht nach dem Seitenverlassen gelöscht werden, verbleiben sie weiterhin auf dem Computer des Seitenbesuchers, bis sie gelöscht, nicht mehr gebraucht oder ungültig werden.
      Als Seitennutzer kann man im Browser Einfluss auf Cookies nehmen.
      Es lassen sich u.a. bestehende Cookies löschen sowie Einstellungen vornehmen, die über das Setzen von Cookies informieren oder Cookies nicht zulassen.
      Der unbeschränkte Dienst einer Webseite kann dadurch jedoch beeinträchtigt werden, sodass bestimmte Inhalte der Webseite dem Nutzer nicht mehr zur Verfügung stehen.
    </p>
    <h3>API Registrierung</h3>
    <p>
     Zur Nutzung der Application Programming Interface (API) auf dieser Websiete ist eine Registrierung notwendig. Dazu werden Benutzername, Vor- und Nachname sowie Email-Adresse und ein Passwort vom Nutzer abgefragt und gespeichert. 
     Die Registrierung ist zur Generieung von benutzerbezogengen Tokens notwendig, um eine Überlastung der bereitgestellten Endpunkte zu vermeiden und unterliegt dem berechtigten Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO.
    </p>
    <h3>Einbindung externer Medien</h3>
    <p>
        Auf der Webseite von EEDATEN werden interaktive Karten mittels der JavaScript Bibliothek Highcharts eingebunden, welche von einem Content Delivery Network (CDN) geladen werden.
        Beim Anzeigen der Karten wird eine Anfrage an das CDN gestellt.
        Bei dieser Anfrage werden ebenfalls Daten gespeichert (siehe Abschnitt Server Log Files).
        Die entsprechende Rechtsgrundlage bildet das berechtigte Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO, da die interaktiven Karten mittels der Biliothek Highcharts darestellt werden können.
        Die Datenschutzerklärung für Highcharts ist unter <a href="https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2021/11/23101731/Highsoft-Privacy-Policy-9.0.pdf">Datenschutz Highcharts<sup>16</sup></a> in englischer Sprache zu finden.
        <p>Highsoft AS, Sentrumsgata 44, 6893 Vik i Sogn, Norway.</p>
    </p>
    <p>
        Auf der Webseite von EEDATEN werden interaktive, dreidimensionale Karten mittels der JavaScript Bibliothek Kepler.gl (inkl. React, Redux) im Kartenmaterial von Mapbox eingebunden, welche von einem Content Delivery Network (CDN) geladen werden. 
        Beim Anzeigen der Karten wird eine Anfrage an das CDN gestellt.
        Bei dieser Anfrage werden ebenfalls Daten gespeichert (siehe Abschnitt Server Log Files).
        Die entsprechende Rechtsgrundlage bildet das berechtigte Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO, da die interaktiven Karten mittels der Bibliotheken Kelper, React und Redux und dem Kartenanbieter Mapbox darestellt werden können.
        Die Datenschutzerklärung für Mapbox ist unter <a href="https://www.mapbox.com/legal/privacy">Datenschutz Mapbox<sup>16</sup></a> in englischer Sprache zu finden.
        <p>Mapbox AS, 750 15th St NW, Washington, District of Columbia, United States of America</p>
    </p>
    <p>
        Auf der Webseite von EEDATEN werden Google Fonts (Schriftarten) verwendet.
        Bei Besuch dieser Webseite werden die benötigten Schriftarten vom Google-Server geladen, der ebenfalls Daten abspeichert (siehe Abschnitt Server Log Files).
        Die Google Fonts sind notwendig für eine verbesserte optische Darstellung der eingepflegten Texte, wobei das Design und die Darstellung des verwendeten Templates (inkl. Google Fonts) von BootstrapMade entwickelt wurde.
        Die Datenschutzerklärung von Google ist unter <a href="https://policies.google.com/privacy?hl=en-US">Datenschutz Google<sup>18</sup></a> in englischer Sprache zu finden.
        Zur einheitlichen, abgestimmten Darstellung der Webseite wurden die Google Fonts im Template übernommen, was das berechtigte Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO verdeutlicht.
        Außerdem ist die Ladezeit der Schriftarten von den Googeln-Servern sehr kurz, wodurch Verzögerungen beim Laden verhindert werden können.
        Zusätzlich ist anzugeben, dass das von  BootstrapMade zur Verfügung gestellt Template auf Bootstrap basiert, was als ein freies CSS Frontend beschrieben werden kann und auf dem Server von EEDATEN lokal gespeichert ist.
        <p>Google LLC, 1600 Amphitheatre Parkway,  Mountain View, CA 94043, United States of America</p>
    </p>
    <p>
        Auf der Webseite von EEDATEN werden Font Awesome (Schriftarten und Icons) verwendet.
        Bei Besuch dieser Webseite werden die benötigten Schriftarten und Icons vom von einem Content Delivery Network (CDN) geladen, wo ebenfalls Daten abspeichert (siehe Abschnitt Server Log Files).
        Font Awesome sind notwendig für eine verbesserte optische Darstellung der eingepflegten Texte, wobei das Design und die Darstellung des verwendeten Templates.
        Die Datenschutzerklärung von Font Awesome ist unter <a href="https://fontawesome.com/privacy">Datenschutz Font Awesome<sup>18</sup></a> in englischer Sprache zu finden.
        Zur einheitlichen, abgestimmten Darstellung der Webseite wurde Font Awesome im Template übernommen, was dem berechtigten Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO unterliegt.
        Außerdem ist die Ladezeit der Schriftarten vaus dem CDN sehr kurz, wodurch Verzögerungen beim Laden von EEDATEN verhindert werden können.
        <p> Fonticons, Inc., 307 S Main St Ste 202 Bentonville, AR, United States of America</p>
        <p>Cloudflare Inc., 101 Townsend St, San Francisco, CA 94107, United States of America</p>
    </p>
    <p>
        Auf der Webseite von EEDATEN werden mathematische Inhalte (Gleichungen, Formelzeichen) mittels eines Content Delivery Networks (CDN) unter dem Namen MathJax eingebunden.
        Dabei handelt es sich bei MathJax um eine open-source JavaScript Bibliothek.
        Mit der Anfrage an den Server werden Daten (siehe Abschnitt Server Log Files, Bildschirmauflösung des Nutzers) übertragen und gespeichert.
        EEDATEN hat auf die Übertragung der Daten keinen Einfluss.
        Die Nutzung von MathJax ist erforderlich, um eine angepasste Darstellung der mathematischen Gleichungen an das verwendete Template zu erzielen, was dem berechtigten Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO entspricht.
        Der Abruf der Bibliothek von dem CDN stellt sicher, das einer aktuelle Version ohne Fehler vorhanden ist und schnell von den Servern geladen werden können.
        <p>American Mathematical Society, 201 Charles Street Providence, Rhode Island 02904-2213, United States of America</p>
    </p>
    <p>
        Auf der Webseite von EEDATEN werden ältere Browser Versionen durch Polyfill Code Bausteine unterstützt, die durch ein Content Delivery Network (CDN) unter dem Namen Polyfill.io eingebunden werden.
        Mit der Anfrage an den Server werden Daten (siehe Abschnitt Server Log Files, Bildschirmauflösung des Nutzers) übertragen und gespeichert.
        EEDATEN hat auf die Übertragung der Daten keinen Einfluss.
        Die Nutzung von Polyfill.io ist erforderlich, um älteren Browserversionen die Webseite zugänglich zu machen, was dem berechtigten Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO entspricht.
        Der Abruf der Bibliothek von dem CDN stellt sicher, das einer aktuelle Version ohne Fehler vorhanden ist und schnell von den Servern geladen werden können.
        Die Datenschutzerklärung für polyfill.io ist unter <a href="https://polyfill.io/v3/privacy-policy/">Datenschutz Polyfill.io<sup>19</sup></a> in englischer Sprache zu finden.
        <p>The Financial Times Limited, Number One Southwark Bridge,  London, SE1 9HL, United Kingdom</p>
    </p>
    <p>
        Ebenfalls ist die JavaScript Bibliothek Leaflet.js mittels eines Content Delivery Networks (CDN) eingebunden (unpkg).
        Duch eine Anfrage an das CDN werden Daten (siehe Abschnitt Server Log Files) an den Server übertragen und gespeichert.
        Dabei ist unpkg durch Cloudflare und GOOGLE Cloud unterstützt.
        Die Verwendung von Leaflet.js ist notwendig um das Kartenmaterial zu laden und in der von OpenStreetmap/ CARTO bereitgestellten Karte/ Tile Layer darzustellen.
        Wie bereits im Abschnitt zu OSM erwähnt stellt die Darstellung (schließt Laden des Kartenmaterials mit ein) die Hauptanwendung auf dieser Webseite und liegt daher im berechtigten Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO.
        Der Abruf der Bibliothek von dem CDN stellt sicher, das einer aktuelle Version ohne Fehler vorhanden ist und schnell von den Servern geladen werden können.
        Die Datenschutzerklärung von Google ist unter <a href="https://policies.google.com/privacy?hl=en-US">Datenschutz Google<sup>18</sup></a> in englischer Sprache zu finden.
        Die Datenschutzerklärung von Cloudflare ist unter <a href="https://www.cloudflare.com/privacypolicy/">Datenschutz Cloudflare<sup>20</sup></a> in englischer Sprache zu finden.
        <p>Google LLC, 1600 Amphitheatre Parkway,  Mountain View, CA 94043, United States of America</p>
        <p>Cloudflare Inc., 101 Townsend St, San Francisco, CA 94107, United States of America</p>
    </p>
    <p>Es ist darauf hinzuweisen, dass sich die Anbieter Mapbox, Google, Highcharts, Cloudflare und Financial Times Limited außerhalb des Europäischen Wirtschaftsraums befinden und deren Datenschutz möglischerweise nicht den Standards der Europäischen Union (angemessenes Schutzniveau) entsprechen.</p>
    </p>
  <h3>Rechte</h3>
    <p>
      Insbesondere gemäß <a href="https://dejure.org/gesetze/DSGVO/15.html">Art. 15</a> bis <a href="https://dejure.org/gesetze/DSGVO/21.html">Art. 21</a> DSVGO stehen dem Betroffenen folgende Rechte zu und können gegenüber dem Seitenverantwortlichen geltend gemacht werden:
      <ul>
        <i class="arrow right"></i> Auskunftsrecht <a href="https://dejure.org/gesetze/DSGVO/15.html">Art. 15</a> DSVGO<br>
        <i class="arrow right"></i> Recht auf Berichtigung <a href="https://dejure.org/gesetze/DSGVO/16.html">Art. 16</a> DSVGO<br>
        <i class="arrow right"></i> Recht auf Löschung <a href="https://dejure.org/gesetze/DSGVO/17.html">Art. 17</a> DSVGO<br>
        <i class="arrow right"></i> Recht auf Einschränkung der Verarbeitung <a href="https://dejure.org/gesetze/DSGVO/18.html">Art. 18</a> DSVGO<br>
        <i class="arrow right"></i> Recht auf Datenübertragbarkeit <a href="https://dejure.org/gesetze/DSGVO/20.html">Art. 20</a> <br>
        <i class="arrow right"></i> Widerrufsrecht/ Widerrufsrecht bei Einwilligung <a href="https://dejure.org/gesetze/DSGVO/21.html">Art. 21</a> DSVGO<br>
        <i class="arrow right"></i> Beschwerde bei Aufsichtsbehörde <a href="https://dsgvo-gesetz.de/art-77-dsgvo/">Art. 77</a> DSVGO<br>
      </ul>
    </p>
    <h3>Verschlüsselung</h3>
    <p>
        Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte eine SSL- bzw. TLS-Verschlüsselung.
        Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt (Schloss-Symbol in url-Zeile).
    </p>
    <h3>Kontaktaufnahme</h3>
    <p>
        Falls sich der Nutzer an die im Kontaktfeld angegebene Emailadresse wendet, werden weiterhin die mit der Email übermittelten Daten (Name, Adresse, Nachrichteninhalt) gespeichert.
        Die Speicherung dient leidlich zur Beantwortung der gestellten Frage. Die entsprechende Rechtsgrundlage bildet das berechtigte Interesse gemäß <a href="https://dejure.org/gesetze/DSGVO/6.html">Art. 6 Abs.1 S.1 f</a> DSVGO.
    </p>
    <h3>Aktualisierung</h3>
    <p>
        Die Datenschutzerklärung wird angepasst, sobald Änderungen in der Datenverarbeitung durchgeführt werden oder das rechtliche Rahmenwerk verändert wird.
        Weiterhin können sich bestimmte Angeben ändern (Anschrift von Unternehmen etc.), was in der Datenschutzerklärung ebenfalls aktualisiert werden muss.
        Daher bitten wir den Nutzer regelmäßig die Datenschutzerklärung sorgfältig zu lesen.
        Falls Unklarheiten, Fehler oder Änderungen auftreten, werden diese bei Bekanntwerden unverzüglich behoben (Anfragen siehe Kontakt Verantwortlicher).
    </p>
</div>
</div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black">
  <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
          <h4>Rechtliche Hinweise</h4><br>
          <p><i class="arrow right"></i> <a href="../impressum">Impressum</a></p>
          <p><i class="arrow right"></i> <a href="../datenschutzerklaerung">Datenschutzerklärung</a></p>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
        <h4>Kontakt</h4><br>
        <p>
        Max Fechner <br>
        04315 Leipzig<br>
        Sachsen/ Deutschland <br><br>
        <strong>Email:</strong> kontakt@eedaten.de<br>
        <p>Auf <strong>Linkedin</strong> zu finden unter: <strong>Max Fechner</strong></p>
        </p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
        <h4>Über EEDATEN</h4><br>
        <p>EEDATEN ist als eine Informationsplattform mit dem Ziel entstanden, 
          einen Beitrag zur Verbesserung der Datengrundlage des elektrischen Energiesystems 
          in Deutschland zu leisten, insbesondere für Erneuerbare Energien (EE). </br>
          Der Begriff EEDATEN ist daraus abgeleitet.</p>
        </div>
      </div>
    </div>
  </div>

  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>
