{% load static %}

<!DOCTYPE html>
<html>
<title>EEDATEN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="../" class="w3-bar-item w3-button">Startseite</a>
  <a href="solar_height" class="w3-bar-item w3-button">Solare Strahlungsenergie</a>
  <a href="wind_height" class="w3-bar-item w3-button">Windenergie</a>
  <a href="biomasse_height" class="w3-bar-item w3-button">Biomasse</a>
  <a href="landkreis_height" class="w3-bar-item w3-button">Landkreis</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>INFORMATIONSPLATTFORM FUER ERNEUERBARE ENERGIEN</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom"><span style="background-color: white; color: black">EEDATEN</span></h1>
  </div>
</header>

<!-- 1 part -->
<div class="w3-container w3-row w3-margin-top">
<div class="w3-center w3-leftbar w3-rightbar w3-border-black">
  <h3>Entwicklung Erneuerbarer Energien (EE) in Deutschland</h3>
</div>
<div class="w3-padding-16">
<div class="w3-left-align">
<p>
Das Erneuerbare-Energien-Gesetz (EEG) bildet seit dem Jahr 2000 die rechtliche Grundlage für den Ausbau Erneuerbarer Energien (EE) in Deutschland.
Als Zielgröße ist in §1 EEG ein Anteil von mindestens 65% bis 2030 des durch EE erzeugten Stroms am Bruttostromverbrauch festgeschrieben.
Welche Energieträger als Erneuerbare Energien gezählt werden ist in §3 EEG aufgeführt und umfasst <a href="http://www.gesetze-im-internet.de/eeg_2014/"><sup>1</sup></a>:
</p>
<div class="w3-padding">
<p><i class="arrow right"></i> Solare Strahlungsenergie</p>
<p><i class="arrow right"></i> Windenergie</p>
<p><i class="arrow right"></i> Biomasse</p>
<p><i class="arrow right"></i> Wasserkraft</p>
<p><i class="arrow right"></i> Deponie-, Klär- und Grubengas</p>
<p><i class="arrow right"></i> Geothermie</p>
</div>
</div>
</div>
</div>

<div class="w3-container w3-row">
  <div class="w3-center">
    <h3>Datenstand Dezember 2021</h3>
  </div>
</div>
  
<!-- 2 part -->
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-half w3-hover-pale-yellow w3-hover-opacity">
  <div class="w3-card w3-container" style="min-height:400px">
  <h3>Solare Strahlungsenergie</h3><br>
  <i class="material-icons" style="font-size:80px">light_mode</i>
  <h2>2.218.567 Anlagen in Betrieb</h2>
  <h2>~60,7 GW installierte Leistung</h2>
  </div>
</div>

<div class="w3-half w3-hover-light-blue w3-hover-opacity">
  <div class="w3-card w3-container" style="min-height:400px">
  <h3>Windenergie</h3><br>
  <i class="material-icons" style="font-size:80px">cloud</i>
  <h2>30.680 Anlagen in Betrieb</h2>
  <h2>~63,8 GW installierte Leistung</h2>
  </div>
</div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-half w3-hover-pale-green w3-hover-opacity">
  <div class="w3-card w3-container" style="min-height:400px">
  <h3>Biomasse</h3><br>
  <i class="material-icons" style="font-size:80px">whatshot</i>
  <h2>20.396 Anlagen in Betrieb Anlagen</h2>
  <h2>~8,8 GW installierte Leistung</h2>
  </div>
</div>

<div class="w3-half w3-hover-pale-blue w3-hover-opacity">
  <div class="w3-card w3-container" style="min-height:400px">
  <h3>Wasser</h3><br>
  <i class="material-icons" style="font-size:80px">water</i>
  <h2>8.413 Anlagen in Betrieb</h2>
  <h2>~5,7 GW installierte Leistung</h2>
  </div>
</div>
</div>

<!-- 3 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom">
<div class="w3-center w3-leftbar w3-rightbar w3-border-black">
  <h3>EEDATEN als Informationsplattform</h3>
</div>
<div class="w3-padding-16">
<div class="w3-left-align">
<p>
Damit die Informationsplattform EEDATEN einen Beitrag zur Verbesserung der Datengrundlage in Bezug auf EE leisten kann,
ist ein Ansatz gewählt, der über die reine Darstellung der historischen Entwicklung von Betriebsmitteln (Anlagenzahl, installierte Leistung) hinausgeht.
EEDATEN kombiniert dazu Betriebsmitteldaten mit Geodaten, damit eine verteilte Darstellung von EE möglich ist.
Dadurch lässt sich die Fragestellung, <b>wie viele</b> EE am elektrischen Netz angeschlossen sind durch <b> wo und wie viele</b> EE am elektrischen Netz angeschlossen sind, beantworten.
Die Betriebsmitteldaten der EE stammen vom Marktstammdatenregister der BNetzA und unterliegen <a href="https://www.govdata.de/dl-de/by-2-0">Datenlizenz Deutschland – Namensnennung – Version 2.0<sup>2</sup></a>,<a href="https://www.marktstammdatenregister.de/MaStR/Startseite/Impressum"><sup>3</sup></a>,<a href="https://www.marktstammdatenregister.de/MaStR/Einheit/Einheiten/OeffentlicheEinheitenuebersicht"><sup>4</sup></a>.
Unter Zuhilfenahme von Kartenmaterial (Geodaten) <a href="https://gdz.bkg.bund.de/index.php/default/open-data.html?___store=default"><sup>5</sup></a> sind die Betriebsmitteldaten verschiedenen Verwaltungsebenen in einer interaktiven Karte zugeordnet.
</p>
</div>
</div>
</div>

<!-- 4 part -->
<div class="w3-container w3-row w3-margin-top w3-margin-bottom">
<div class="w3-center w3-leftbar w3-rightbar w3-border-black">
<h3>Weiterentwicklung und Kooperation</h3>
</div>
<div class="w3-padding-16">
<div class="w3-left-align">
<p>
Die Datengrundlage der Informationsplattform wird zukünftig durch Datenupdates verbessert und aktualisiert.
Zur Zeit handelt es sich bei dieser Informationsplattform lediglich um ein privates, nicht kommerzielles Projekt mit der Option als Open Source Projekt weitergeführt zu werden.
Falls Sie Interesse an einer Kooperation haben oder Ideen für die Weiterentwicklung dieser Plattform einbringen möchten, können Sie sich gerne an die unten aufgeführten Kontaktdaten wenden.
</p>
</div>
</div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black">
  <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
          <h4>Rechtliche Hinweise</h4><br>
          <p><i class="arrow right"></i> <a href="../impressum">Impressum</a></p>
          <p><i class="arrow right"></i> <a href="../datenschutzerklaerung">Datenschutzerklärung</a></p>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
        <h4>Kontakt</h4><br>
        <p>
        Max Fechner <br>
        04315 Leipzig<br>
        Sachsen/ Deutschland <br><br>
        <strong>Email:</strong> kontakt@eedaten.de<br>
        <p>Auf <strong>Linkedin</strong> zu finden unter: <strong>Max Fechner</strong></p>
        </p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:200px">
        <div class="w3-left-align">
        <h4>Über EEDATEN</h4><br>
        <p>EEDATEN ist als eine Informationsplattform mit dem Ziel entstanden, 
          einen Beitrag zur Verbesserung der Datengrundlage des elektrischen Energiesystems 
          in Deutschland zu leisten, insbesondere für Erneuerbare Energien (EE). </br>
          Der Begriff EEDATEN ist daraus abgeleitet.</p>
        </div>
      </div>
    </div>
  </div>

  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}

// cookie banner
const  cookieContainer = document.querySelector(".cookie-banner");
const  cookieBtn = document.querySelector(".cookie-btn");

cookieBtn.addEventListener("click", () =>{
    cookieContainer.classList.remove("active");
    localStorage.setItem("CookieBanner", "true")
});
setTimeout(()=> {
    if (!localStorage.getItem("CookieBanner"))
    cookieContainer.classList.add("active");
}, 1000);

</script>

</body>
</html>
